nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1030; /* ensures it's above content */
  background-color: #d32f2f;
}
body {
    background-color: #F5F5DC; /* Beige */;
    
}
 .card-body ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
    background-color: #F5F5DC; /* Beige */
  }
  .card {
    background-color: #F5F5DC;
    border: none;
}

footer {
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100%;
      background-color: #388e3c; /* Green outer/bull scoring zone color */
}